@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

.form{
  label{
    margin-bottom: 0;

    &:first-child{
      padding-right: 0;
    }
    &:last-child{
      padding-left: 0;
    }

    input, button{
      height: px-to-rem(36px);
    }

    input{
      width: 100%;
      border: none; outline: none;
      color: var(--green);

      padding:px-to-rem(3px) px-to-rem(8px);

      @include media-breakpoint-up(md){
        border-radius: px-to-rem(5px) 0 0 px-to-rem(5px);
        padding:px-to-rem(4px) px-to-rem(16px);
      }

      &::placeholder{
        font-style: italic;
        color: #a0a0a0;
      }
    }

    button{
      background-color: var(--blue);
      color: #ffffff;
      border: none; outline: none;
      padding: px-to-rem(6px) px-to-rem(12px);
      display: flex; align-items: center; justify-content: center;
      width: unset;
      aspect-ratio: 1 / 1;

      transition: 0.2s;

      @include media-breakpoint-up(md){
        width: 100%;
        aspect-ratio: unset;
      }

      &:hover{
        background-color: var(--green);
      }

      span{
        font-size: px-to-rem(18px);
        font-weight: 700;
        line-height: 100%;
      }
    }
  }
}
